@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Kiwi+Maru:wght@300;400&family=M+PLUS+1p&family=M+PLUS+Rounded+1c&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}


h2 {
    font-family: "Kiwi Maru", serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    color: #333;
    margin-bottom: 10px;
}

h3 {
    font-family: "Kiwi Maru", serif;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    color: #333;
    margin-bottom: 10px;
}

input[type="text"] {
    font-family: "Ubuntu mono", "M PLUS 1p", monospace;
    text-align: left;
    padding: 5px;
}

input[type="number"] {
    font-family: "Ubuntu mono", "M PLUS 1p", monospace;
    text-align: right;
    padding: 5px;
}

/* input[type="checkbox"] {
    margin-left: 5px;
} */

.mobile-br {
    display: none;
}


/* for mobile */
@media screen and (max-width: 570px) {

    .mobile-br {
        display: block;
    }

}


/* title */

#page-title h1 {
    margin: 20px 0;
    font-size: 2.5rem;
    font-family: "Ubuntu Mono", monospace;
    font-style: normal;
    font-weight: 500;
    color: #333;
}





.section-dev {
    width: 70vw;
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
}

/* main */

#main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}

/* section */

.section {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
    align-items: stretch;
}


.section>* {
    margin: 10px 0;
}

.section-title {
    order: -1;
    position: relative;
    top: -30px;
    margin-bottom: -30px;
    display: flex;
    justify-content: flex-start;
}

.section label {
    justify-content: flex-start;
    margin-right: 10px;
    align-items: center;
}

.section input {
    justify-content: flex-end;
    align-items: center;
}


.section div {
    display: flex;
    justify-content: flex-end;
}

.section>div>span {
    font-family: "Ubuntu Mono", monospace;
    margin-left: auto;
    margin-right: 1px;
}

.section-title-text {
    background-color: #f4f4f4;
}

.section input[type="text"] {
    justify-content: flex-end;
    align-items: center;
}


/* settings */

#settings-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

/* #settings .category-title {
    order: -1 -1;
} */

#settings .input-prefix {
    margin-right: 0px;
}


.input-span {
    flex-direction: row;
    align-items: center;
}

#instance,
#account,
#followee,
#note-url-div,
#reply,
#reaction,
#renote,
#winners-div {
    align-items: center;
    flex-direction: row;
}

@media screen and (max-width: 700px) {

    #instance,
    #account,
    #followee,
    #note-url-div,
    #reply,
    #reaction,
    #renote,
    #winners-div {
        align-items: center;
        flex-direction: column;
    }
}



/* 抽選設定 */

#followee {
    justify-content: flex-start;
}

/* --- */

#note-url-div {
    justify-content: center;
}

#reply,
#reaction,
#renote,
#winners-div {
    justify-content: flex-start;
}


/* 結果 */

#result {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#result-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

#result-content div {
    margin: 20px;
}


/* 実行系 */

#run {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* 実行ボタン */

#run-button {
    width: 30vw;
    min-width: 180px;
    margin: 20px 0;
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
    background-color: #4c9e4c;
    font-family: "DotGothic16", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

#run-button:active {
    background-color: #317031;
}

/* ログ表示 */

#run label {
    align-items: center;
    flex-direction: column;
}

#log {
    justify-content: center;
    border: 2px solid #333;
    width: 50vw;
    height: 200px;
    /* 高さを200pxに制限 */
    overflow: scroll;
    /* 内容がdiv要素を超えた場合にスクロールバーを表示 */
}

#log>p {
    text-align: left;
    margin: 5px;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: #333;
}


/* フッター */

#footer {
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Ubuntu mono", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    color: #333;
}
